/* CSS declarations go here */

table {
	
}

.hole td{width:50%; text-align:center;}
.hole tr td:nth-child(2) {text-align:right;}
.hole td .btn-group { float:right; padding-right:0;}

.navbar-fixed-top, .navbar-fixed-bottom { position:static; }